body{
  font-size: 15pt;
  font-family: "Segoe Ui", Roboto, Sans-Serif;
  line-height: 400%;
}
 header {
  background-color: yellowgreen;
  color:white;
  border-color: yellowgreen;
  height: 20px;
  width: 320px
 }
 .first {
  color: #0ad4f;
}
 .about {
  background-color: yellowgreen;
  color: white;
  border-radius: 15%;
}
 footer {
  background-color: lightblue;
  color: #0af;
  border-color: darkblue;
}
